.screen1{
    position: absolute;
    left: 3%;
    top: 6%;
}
.screen2{
    position: absolute;
    left: 40%;
    top: 6%;
}
.screen3{
    position: absolute;
    left: 75%;
    top: 6%;
}

.border1{
    width: 350px;
    height: 350px;
    left: 90px;
    margin-top: 50px;
    background-color: black;
    border-radius: 10%;
    
}
.border1 .info{
    position: fixed;
    color: white;
    opacity: 0;
    transform: translate(-50%);
    transition: 0.5s;
    white-space: nowrap;
}

.border1 .info button{
    width: 350px;
    height: 350px;
    border-radius: 10%;
    background: black;
    color: white;
    overflow: hidden;
    font-weight: bold;
    cursor: pointer;
    transition: 1s ease;
}

.border1 img {
    position: absolute;
    height: 250px;
    width: 250px;
    margin-top: 50px;
    bottom: 50px;
    margin-left: 50px;
}
.border1:hover{
    background-color: transparent;
}
.border1:hover .info{
    opacity: 1;
    transform: translateZ(0px);
}
.border1 .info button:hover{
    background-color: black;
}

/* Images*/

.Nintendo{
    background-image: url('./nintendo.png');
}
.Xbox{
    background-image: url('./xbox.png');
}
.Playstation{
    background-image: url('./playstation.png');
}
/* fonts*/
.fonts2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-style: bold;
    font-size: 20px;
    color: #22A6F0;
    
}